[submodule "tesis/constanza-de-galvagni-tesis"]
	path = tesis/constanza-de-galvagni-tesis
	url = git@github.com:MetodosBayesianos/constanza-de-galvagni-tesis.git
[submodule "tesis/tesis-deprecado"]
	path = tesis/tesis-deprecado
	url = git@github.com:MetodosBayesianos/tesis-deprecado.git
[submodule "docencia/InferenciaBayesianaCausal1"]
	path = docencia/InferenciaBayesianaCausal1
	url = git@github.com:MetodosBayesianos/InferenciaBayesianaCausal1.git
[submodule "web/metodos"]
	path = web/metodos
	url = git@github.com:MetodosBayesianos/MetodosBayesianos.github.io.git
[submodule "tesis/tomas-caneda-tesis"]
	path = tesis/tomas-caneda-tesis
	url = git@github.com:MetodosBayesianos/tomas-caneda-tesis.git
[submodule "comunidad/Competencias"]
	path = comunidad/Competencias
	url = git@github.com:MetodosBayesianos/Competencias.git
[submodule "obras/SuyusPacha"]
	path = obras/SuyusPacha
	url = git@github.com:MetodosBayesianos/SuyusPacha.git
